_site
.sass-cache
.jekyll-metadata
node_modules
assets
yarn-error.log
.yarnclean

# editors
.idea
.jekyll-cache
/.claude
/.vs
/.vs/Mobile-app-landingpage-template/CopilotIndices/17.14.1368.60722/CodeChunks.db
/.vs
