---
layout: navigation
---

<section class="contact__section container">  
  <h2>Contact Information</h2>  
  <div class="contact__details">  
    <h3>Publisher:</h3>  
    <p>SCORPIOX, INC</p>  
    <p>DUNS Number: 594972041</p>  
    <h3>Seller Contact:</h3>  
    <p>Name: YONG CHEN</p>  
    <p>Email: <a href="mailto:partner@scorpioplayer.com">partner@scorpioplayer.com</a></p>  
    <p>Phone: +64 22 4989088</p>  
    <p>Address: 1201/47 Hobson Street, Auckland, Auckland, 1010, New Zealand</p>  
    <h3>Company Approver:</h3>  
    <p>Name: YONG CHEN</p>  
    <p>Email: <a href="mailto:partner@scorpioplayer.com">partner@scorpioplayer.com</a></p>  
    <p>Phone: +64 22 4989088</p>  
    <h3>Customer Contact:</h3>  
    <p>Address: 1201/47 Hobson Street, Auckland, Auckland, 1010, New Zealand</p>  
    <p>Email: <a href="mailto:support@scorpioplayer.com">support@scorpioplayer.com</a></p>  
    <p>Phone: +64 22 4989088</p>  
    <h3>Website:</h3>  
    <p><a href="https://scorpioplayer.com/" target="_blank">https://scorpioplayer.com/</a></p>  
  </div>  
</section>  
