---
layout: default
---

<header class="main-header out">
	<div class="logo" style="margin-left: 32px; opacity: 0.3; user-select: none;">
		<a href="/">SCORPIOX, INC.</a>
	</div>
	<nav>
		<div class="hamburger"></div>

		<ul class="main-nav main-nav-mob">
			<li class="nav-item"><a href="/">FEATURES</a></li>
			<li class="nav-item"><a target="_blank" href="https://subscription.scorpioplayer.com/pricing">SCORPIO+</a>
			</li>
			<li class="nav-item"><a target="_blank" href="https://blog.scorpioplayer.com/">BLOG</a></li>
			<li class="nav-item"><a href="/downloading">Downloads</a></li>
			<li class="nav-item">  
				<a target="_blank" href="https://forward.scorpioplayer.com/to?link=scorpio-player-youtube&app=scorpioplayer.com&type=doc">  
					<i class="fab fa-youtube" style="color: red; opacity: .7;"></i> YouTube  
				</a>  
			</li>  
			<li class="nav-item">  
				<a target="_blank" href="https://forward.scorpioplayer.com/to?link=scorpio-player-discord&app=scorpioplayer.com&type=doc">  
					<i class="fab fa-discord" style="color: #5865f2; opacity: .7"></i> Discord!  
				</a>  
			</li>  
			<li class="nav-item"><a target="_blank"
					href="https://forward.scorpioplayer.com/to?link=scorpio-player-support-email&app=scorpioplayer.com&type=doc">Support</a>
			</li>

		</ul>
	</nav>
</header>
{{ content }}